@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null)
{
   <h2>
      Error in @Model.ActionName method of the @Model.ControllerName Controller.
   </h2>
   <h2>
     Error Message : @Model.ExceptionMessage
   </h2>
    <a asp-action="@Model.ActionName" asp-controller="@Model.ControllerName">Go Back</a>
}
else
{
    <h2>
        Error in @ViewData["ActionName"] method of the @ViewData["ControllerName"] Controller.
    </h2>
    <h2>
        Error Message : @ViewData["ExceptionMessage"]"
    </h2>
    <a asp-action="@ViewData["ActionName"]" asp-controller="@ViewData["ControllerName"]">Go Back</a>
}