@model HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <hr />
    @if (Model != null)
    {
        <h2>Error Occured in @Model.ControllerName Controller</h2>
        <h2>The @Model.ActionName Action Metthod has raise and Exception as @Model.Exception.Message</h2>

        <hr />
        <hr />
        @Html.ActionLink("Go Back", @Model.ActionName, @Model.ControllerName)
    }
    else
    {
        <h2>Error Occured in @ViewData["ControllerName"] Controller</h2>
        <h2>The @ViewData["ActionName"] Action Metthod has raise and Exception as @ViewData["ExceptionMessage"]</h2>

        <hr />
        <hr />
       @Html.ActionLink("Go Back", @ViewData["ActionName"].ToString(), @ViewData["ControllerName"].ToString())
    }
</body>
</html>
